<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d220f488-0c40-4b94-89ab-4491ac985f94/resourceGroups/BoongalooResGroup/providers/Microsoft.Web/sites/likkleapi-staging</ResourceId>
    <ResourceGroup>BoongalooResGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://likkleapi-staging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>likkleapi-staging.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>likkleapi-staging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$likkleapi-staging</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LikkleDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=likkledbserver.database.windows.net;Initial Catalog=LikkleDb;User ID=likkledb;Password=Boongaloodb1991$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Likkle.DataModel.LikkleDbContext, Likkle.DataModel" MigrationConfiguration="Likkle.DataModel.Migrations.Configuration, Likkle.DataModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LikkleDbContext-Web.config Connection String">
      <ParameterValue>Data Source=likkledbserver.database.windows.net;Initial Catalog=LikkleDb;User ID=likkledb;Password=Boongaloodb1991$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LikkleDbContext-Web.config Connection String">
      <ParameterValue>Data Source=likkledbserver.database.windows.net;Initial Catalog=LikkleDb;User ID=likkledb;Password=Boongaloodb1991$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>